<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}User Activity{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="/assets/css/libs/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/libs/select2.min.css">
        <link rel="stylesheet" href="/assets/css/libs/datepicker.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include "layouts/header.html.twig" %}
        <div class="container mt-4">
            <h1 class="text-center">{{ block("title") }}</h1>
            {% block body %}{% endblock %}
        </div>
        <script src="/assets/js/libs/jquery-3.6.1.min.js"></script>
        <script src="/assets/js/libs/bootstrap.bundle.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
