{% extends "layouts/main.html.twig" %}
{% block title %}{% endblock %}
{% block body %}
    <p class="text-center" id="text"><a href="/app/download" class="btn btn-lg btn-success" target="_blank">Download</a></p>
{% endblock %}